################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SWDProject/SWDProject/obj/Debug
/SWDProject/SWDProject/bin/Debug
/SWDProject/.vs/SWDProject/v16
